body {
    background-color:#f8f6f5;
    margin: 0;
      font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* enable smooth scrolling for anchor links */
html {
        scroll-behavior: smooth;
}

*{
          font-family: "Quicksand", sans-serif;

}


.align-logo-main-content {
    margin-left: 10vw;
}

#community-container {
    margin-top: 20vh;
    margin-left: 10vw; 
}

button{
          font-weight:700;
background-color: #4b2e38;
    color:#E9B8B2;
        font-size: 1.5rem;
    padding: 1rem;

}


.navigator-header {
    margin-top: 20px;
    margin-right: 15vw;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: right;
}

.nav-item a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-right: 2vw;
    font-size: 20px;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 600;

}
.home-title {
    font-size: 8vh;
    width: 40vw;
      font-weight:700;
      margin-top:20vh;

}

.home-text {
    width: 30vw;
    padding-bottom: 5vh;
    font-size: 20px;
}

.logo {
    width: 10vw;
    margin-top:3vh;
}

.home-image {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: -1;
    
}



.home-vector{
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: auto;
    z-index: -1;
}

.home-vector-2 {
    position: relative;
    float:left;
    z-index: 3;
    width: 45%;
    transform: translateY(-187%);
    left: 19.5%;
}


.home-vector-3 {
    position: relative;
    float:right;
    z-index: 1000;
    transform: translateY(-100%);
}



.hero-image-container {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none; /* optional */
}



.waitlist-button {
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
      font-family: "Quicksand", sans-serif;
      font-weight:700;

}


.waitlist-button-community {
    background-color: #4b2e38;
    color:#E9B8B2;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
}





#community-title {
    font-size: 6vh;
    margin-bottom: 2vh;
    width: 25vw;
}

.waitlist-button:hover,
.waitlist-button-community:hover {
    background-color: rgb(100, 50, 70);
    translate: 0 -2px;

}





.community-text {
    width: 20vw;
    padding-bottom: 5vh;
    font-size: 20px;
}

.community-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
}

#main-content-community {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 30vw;
    justify-content: center;

}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-right: 50vw;
}

.community-box {
    width: 300px;
    height: auto;
 
}


.experience-box {
    /* container for the background + overlayed content */
    position: relative;
    display: block; /* let the background image define the height */
    width: 100%;
}

.experience-bg {
    /* background stays in the flow and defines the box height */
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
}

.experience-image{
    /* main foreground image - overlay on top of the background */
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    width: 50%;
    height: auto;
    z-index: 2;
}

.experience-blob{
    /* decorative blob overlay */
    position: absolute;
    top: 11%;
    left: 0%;
    width: 25%;
    height: auto;
    z-index: 7;
}

.experience-text {
    /* text overlay on top of the background */
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 3;
    
    max-width: 30vw;
}


.experience-title {
    margin-bottom: 24px;
    max-width:20rem;
}

.experience-text ul {
    padding-left: 10px;
    margin: 0;
    list-style-position: inside;
}

.experience-text li {
    margin-bottom: 16px;
}


#main-content-waitlist {
    display: flex;
    justify-content: center;
   margin-top:20vh;
}

.waitlist-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    /* centers column */
    border: #4B2E38 1px solid;
    border-radius: 50px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.name-address-container {
    display: flex;
    gap: 12px;
    width: 100%;
}

.occupation-community-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
    color: rgb(60, 60, 60);
    box-sizing: border-box;
    border: rgb(224, 90, 113) 1px solid;
    font-size: 20px;
}

.waitlist-button {
    margin-top: 16px;
    padding: 16px 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color:#E9B8B2;

    align-self: center;
    width: auto;
}

.waitlist-text-container {
    width: 100%;
}


.waitlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f6f5;
    padding: 80px;
}


.waitlist-text-container {
    text-align: center;
}

.community-textarea {
    width: 100%;
    min-height: 120px;
    padding: 14px 18px;

    border: 1px solid rgb(224, 90, 113);
    border-radius: 24px;

    font-size: 20px;
    color: rgb(60, 60, 60);
    box-sizing: border-box;

    resize: vertical;
    text-align: left;
    vertical-align: top;
}

.left {
    text-align: left;
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.centered {
    text-align: center;
}

.footer {
  background-color: #4b2e38;
    color: #f8f6f5;
    font-family: sans-serif;
    width: 100%;
    padding: 0 80px 50px; 
    box-sizing: border-box; 

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    padding: 50px 0;
    
}

.footer-brand {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
    margin-left:20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 30px;
}



.social-icons {
    display: flex;
    gap: 12px;
    margin: 20px 0 10px;
}

.social-icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #4b2b35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.follow-text {
    font-weight: 600;
}

.footer-column h4 {
    margin-bottom: 12px;
    font-weight: 600;
}

.footer-column{
        font-weight: 100;

}
h4{
    margin-bottom:30px;
    color:#e9b8b2;
}

.footer-divider{
    border-top: 1px solid #f3d6dc;
    margin: 20px 0;
}

.half-circle{
   
    width: 200px;
    height: 100px; /* as the half of the width */
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 5px solid #E9B8B2;
    border-bottom: 0;

}

.box{
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    margin-right:7rem;
 
}

.icon{
    max-width:5rem;
    z-index:-1;
    position:relative;
    bottom:15%;
}

.box-title{
    font-weight:700;
    font-size:20px;
}

.box-text{
    position:relative;
    bottom:15%;
}